.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  transition: opacity .4s;
}

.feynman__link:hover {
  opacity: .6;
  transition: opacity .4s;
}
