.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  transition: opacity .4s;
  align-self: baseline;
}

.khan__buy-link:hover {
  opacity: .6;
  transition: opacity .4s;
}
